<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.doctorx.p5_tour_guide_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/alex"
        android:label="@string/app_name"
        android:roundIcon="@drawable/alex"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="donut">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlexRestaurants" />
        <activity android:name=".AlexTourism" />
        <activity android:name=".AlexShops" />
        <activity android:name=".AboutAlex" />
    </application>

</manifest>